@font-face {
    font-family: 'latoregular';
    src: url('../fonts/lato-regular-webfont.eot');
    src: url('../fonts/lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-regular-webfont.woff2') format('woff2'),
         url('../fonts/lato-regular-webfont.woff') format('woff'),
         url('../fonts/lato-regular-webfont.ttf') format('truetype'),
         url('../fonts/lato-regular-webfont.svg#latoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'latosemibold';
    src: url('../fonts/lato-semibold-webfont.eot');
    src: url('../fonts/lato-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-semibold-webfont.woff2') format('woff2'),
         url('../fonts/lato-semibold-webfont.woff') format('woff'),
         url('../fonts/lato-semibold-webfont.ttf') format('truetype'),
         url('../fonts/lato-semibold-webfont.svg#latosemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

.caplock {
  text-transform: uppercase;
}

.font-bold {
  font-weight: 600;
}

.pull-left {
    float: left !important;
}

.pull-right {
    float: right;
}

.clearfix:after {
  clear: both;
  content: ' ';
  display: block;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
  width: 0;
  height: 0;
}

.navbar {
    padding: 20px 0;
}

ul#menu {
    margin-top: 10px;
}

ul#menu li {
    display: inline;
    margin: 0 10px;
}

ul#menu li a {
    color: #444;
    font-size: 16px;
}

.mobile-menu-btn {
    display: none;
}

.hero-text {
  font-size: 28px;
  line-height: 45px;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #444;
  margin-top: 100px;
}

.home-search-bar {
    background: #669933;
  padding: 25px 30px 35px;
  border-radius: 3px;
  margin-bottom: 100px;
}

.home-search-bar input[type="text"] {
    border-radius: 3px;
    border:none;
    margin-bottom: 0;
    height: inherit !important;
    font-size: 20px;
    padding: 10px;
}

.home-search-bar input[type="submit"] {
  border: none;
  color: #fff;
  font-size: 20px;
  font-family: "latosemibold", arial, sans-serif;
  background: #257A30;
  width: 100%;
  margin-top: 24px;
  border-radius: 3px;
  padding: 10px;
} 

.home-search-bar label {
     font-family: 'Merriweather', serif;
     color: #fff;
     font-size: 16px;
}

.sch-logo {
    margin-bottom: 50px;
}

footer {
    background-color: #333333;
    padding: 50px 0;
}

.category-section {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 100px;
}

.category-section h5 {
    font-size: 16px;
    font-weight: 'latosemibold', arial, sans-serif;
    color: #444;
    font-weight: 600;
    margin: 0 0 5px;
}

ul.footerlist li a {
    font-size: 14px;
    color: #279B37;
}

ul.footerlist li {
    margin-bottom: 5px;
    line-height: 16px;
}

ul.footerlist li span {
    color: #999;
    font-size: 12px;
}

footer h5 {
  color: #279B37;
  font-weight: 600;
  font-size: 15px;
}

p.desc {
  color: #cdcdcd;
  font-size: 14px;
}

ul.list li a {
    color: #cdcdcd;
    font-family: 'latoregular', arial, sans-serif;
    font-size: 14px;
}

ul.list i {
    color: #cdcdcd;
    font-size: 18px;
    font-weight: 600;
    margin-right: 10px;
    margin-top: 20px;
}

ul.list li p {
    margin-bottom: 0;
    color: #cdcdcd;
    font-size: 14px;
}


/****** COURSE DETAILS **********/
.course-details {
    margin: 20px 0 100px;
}

.details-left, .details-right {
    border: 1px solid #ccc;
    background: #f8f9fb;
    padding: 15px;
}

.details-left h2 {
    margin-bottom: 15px;
}

.details-left h4 span {
    font-weight: normal !important;
    color: #279B37;
}

.dates, .provider {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;
    
}

.dates span, .provider span {
    margin-bottom: 5px;
    color: #279B37;
}

.socials {
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 5px;
}

.socials a {
    color: #444;
}

.socials a i {
    font-size: 16px;
    color: #444;
    margin-left: 15px;
}

.industry {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 5px;
}

.industry span {
    color: #279B37;
}


.full-desc {
  margin-top: 20px;
}

.full-desc p {
    margin-bottom: 15px;
    font-size: 16px;
    line-height: 26px;
    color: #444;
}

.full-desc strong {
    font-weight: 600;
}

.full-desc ul {
    margin: 10px 0;
}

.full-desc ul li {
    margin-bottom: 5px;
    list-style: initial;
    list-style-position: outside;
    margin-left: 20px;
}

.lime-btn {
  display: inline-block;
  color: #fff;
  border-radius: 2px;
  padding: 5px 15px;
  background: #669933;
  margin: 5px 0;
  font-size: 14px;
}

.medium {
    padding: 10px 25px;
    font-size: 16px;
}

a.lime-btn {
    color: #fff;
}

.page-crumbs .breadcrumbs {
    border: none;
    background: none;
    padding-left: 0;
    margin-top: 50px;
}

.page-crumbs .breadcrumbs a {
    color: #279B37;
    font-weight: 600;
}

.page-crumbs .breadcrumbs > *.current a {
  color: #444 !important;
}

.details-right p {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 10px;
}

.details-right p span {
    float: right;
    font-weight: normal;
}

.neg-margin {
    margin-top: -38px;
}





/********** SEARCH LIST ********/
.search-list {
    border: 1px solid #ccc;
    padding: 20px;
}

.search-result {
  margin-bottom: 100px;
}

.search-list .no-pad {
    padding: 0 10px 0 0;
}

.search-list p {
    margin: 0;
    font-size: 14px;
}

.search-list .course a {
    color: #279B37;
}

.search-list .course {
    font-family: 'latoregular', arial, sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #279B37;
}

.search-list .course:hover {
    text-decoration: underline;
}

.search-list .date {
  line-height: 14px;
  margin-bottom: 5px;
  font-weight: 600;
}

.search-list .excerpt {
  line-height: 20px;
  font-size: 14px;
}

.search-list .excerpt a {
    color: #279B37;font-size: 13px;
}

.search-list .school {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 5px;
}

.search-list .school a {
    color: #222;
}

p.sch-share {
  font-weight: 600;
  margin-top: 10px;
}

.search-list .row {
  border-bottom: 1px dotted #ccc !important;
  padding: 15px 0px;
}

.search-list .row:last-child {
    border-bottom: none !important;
}

.search-list .row:hover {
    /*background: #279B37;*/
}

.search-list {
  border: 1px solid #ccc;
  padding: 0px 20px;
  border-radius: 2px;
  margin-bottom: 20px;
}

.filter form {
  padding: 20px 15px;
  border: 1px solid #ccc;
  border-radius: 2px;
}

.result-number {
  font-weight: 600;
  margin-bottom: 0;
  margin-top: 13px;
  color: #279B37;
}

.result-page {
    margin-bottom: 50px;
    margin-top: 30px;
}

.filter label, .filter-bar form label {
    font-weight: 600;
    font-size: 14px;
}

.filter input {
    box-shadow: none !important;
    border-radius: 2px !important;
}

.filter ul {
  margin: 4px 0 15px;
}

.filter ul li {
  font-size: 13px;
  margin-bottom: 5px;
  line-height: 12px;
}

.filter ul li:hover {
    text-decoration: underline;
}

.filter ul li a {
    color: #279B37;
}

.filter ul li a span {
    display: inline-block;
  margin-left: 5px;
  font-size: 12px;
  color: #999;
}


.ads-section {
    border: 1px solid #ccc;
    height: 300px;
    border-radius: 2px;
}


.alert-ctn {
  padding: 10px 20px;
  border-radius: 2px;
  background: #F2F4F4;
  border: 1px solid #E0DEDE;
  margin-bottom: 20px;
}

.alert-ctn input {
    margin-bottom: 0;
}

.alert-ctn input[type="text"] {
  height: 30px;
  border: none;
  border-radius: 2px;
  background: #fff !important;
  box-shadow: none;
}

.alert-ctn input[type="submit"], .filter-btn  {
  border: none;
  color: #fff;
  background: #257A30;
  cursor: pointer;
  border-radius: 2px;
  font-family: 'latoregular', arial, sans-serif;
  height: 30px;
  /*padding: 0 20px;*/
}

.no-pad {
  padding: 0 10px 0 0;
}

.filter-bar {
    margin-bottom: 15px;
}

.filter-bar form  {
    background: #f8f9fb;
    padding: 15px 25px;
    border: 1px solid #eaeaea;
    border-radius: 2px;
}

.filter-bar form input, .filter-bar form select {
    background-color: #fff !important;
    border-radius: 2px !important;
    box-shadow: none !important;
}

.filter-bar form input[type="submit"] {
  background: #257A30 !important;
  width: 100%;
  text-transform: uppercase;
  height: 35px;
  margin-top: 22px;
  font-family: 'latoregular';
  font-weight: 600;
}

#filtertoggle {
    display: none;
}

.mobile-filter {
    margin-bottom: 0;
    background: #279B37;
    color: #fff;
    font-weight: 600;
    display: none !important;
    cursor: pointer;
    border-radius: 2px;
    margin-bottom: 10px;
    padding: 5px 15px;
    display: inline-block;
}

.pull-right.search-mob.fa.fa-search.fa-lg {
  font-size: 1.6em;
  margin-top: 6px;
  color: #669933;
  display: none;
  cursor: pointer;
  margin-right: 25px;
}

.mobile-search-bar {
    border-top: 1px solid #279B37;
}



/********* INSTITUTIONS **********/
.img-placeholder {
    text-align: center;
}

.img-placeholder img {
    border: 1px solid #ccc;
    min-height: 136px;
    max-height: 136px;
}

.img-placeholder p {
    font-size: 13px;
    margin-top: 10px;
}

.img-placeholder a {
    color: #222;
}

.img-placeholder:hover {
    opacity: .7;
}

.school-list {
    margin-top: 50px;
}

.prevnext {
    margin-top: 30px;
    margin-bottom: 50px;
}

.school-ctn {
  margin-bottom: 15px;
  max-height: 200px;
  min-height: 200px;
}

.school-list .title {
  color: #279B37;
  border-bottom: 2px solid #279B37;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 20px;
  display: block;
  margin-bottom: 40px;
}



















/******** MEDIA QUERIES ********/
@media(min-width: 320px) and (max-width: 640px) {
    h1 {
        font-size: 20px;
        ]font-weight: 600;
        line-height: 28px;  
        margin-bottom: 10px; 
    }

    h4 {
        font-size: 14px;
        font-weight: 600;
    }

    .navbar {
      padding: 15px 0;
    }

    .hero-text {
      font-size: 24px;
      line-height: 36px;
      margin-top: 20px;
    }

    ul#menu {
        display: none !important;
    }

    .home-search-bar input[type="text"] {
      font-size: 16px;
      padding: 7px;
      margin-bottom: 15px;
    }

    .home-search-bar label {
      margin-bottom: 5px;
      font-size: 14px;
    }

    .home-search-bar input[type="submit"] {
      font-size: 16px;
      margin-top: 6px;
      padding: 7px;
    }

    .home-search-bar {
      margin-bottom: 40px;
    }

    .sch-logo {
      margin-bottom: 35px;
    }

    .category-section {
      padding: 15px 5px;
      margin-bottom: 50px;
    }

    ul.footerlist {
      margin-bottom: 20px;
    }

    footer {
      padding: 33px 0;
    }

    ul.list {
      margin-bottom: 20px;
    }

    footer h5 {
      margin-bottom: 5px;
    }

    .mobile-menu-btn {
        display: block;
    }

    p.result-number {
      margin: 30px 0 10px;
    }




    /******** COURSE DETAILS *******/



    .dates {
        font-size: 14px;        
    }

    .socials {
        font-size: 14px;
        margin-top: 10px;
    }

    .socials a i {
        font-size: 18px;
    }

  
    .full-desc p {
      font-size: 14px;
      line-height: 23px;
    }

    .full-desc ul li {
      font-size: 14px;
    }

    .neg-margin {
      margin-top: 30px;
    }



    /*******SEARCH PAGE ********/
    .search-list .no-pad {
     padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    }

    .search-list .excerpt {      
      margin-top: 10px;
    }

    .alert-ctn input[type="submit"]  {
      padding: 0 8px;
    }

    .mobile-filter {
        display: inline-block !important;
    }

}

@media(min-width: 641px) and (max-width: 767px) {

}

@media(min-width: 641px) {
    .mobile-menu-btn {
        display: none !important;
    }

    .mobile-search-bar {
      border-top: none;
    }
}

@media(max-width: 639px) {
   .hide-search  {
        display: none;
    }

    .pull-right.search-mob.fa.fa-search.fa-lg {
        display: block;
    }
}

@media(max-width: 767px) {
    .filter {
        display: none;
    }
}

@media(max-width: 1023px) {
    .filter {
        display: none;
    }
}


/********** MOBILE MENU *********/
.mobile-menu {
    display: none;
   background: #669933;
}

.mobile-menu ul li a {
    padding: 10px 15px;
    display: block;
    color: #fff;
    text-align: center;
}

.mobile-menu ul li {
    border-bottom: 1px solid #257A30;
}


.mobile-menu-btn:after {
    content: "\f0c9";
  cursor: pointer;
  font-size: 2em;
  color: #669933;
}

.close:after {
    content: "\00D7" !important;
  cursor: pointer;
  font-size: 2em;
  font-weight: 600;
  color: #669933;
}

